{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Main/css/style.css">
    <title>Main</title>
</head>
<body>
    <h1 class="H">Перший абзац H1</h1>
    <h2 class="H">Другий абзац H2</h2>
    <h3 class="H">Третій абзац H3</h3>
    <h4 class="H">Четвертий абзац H4</h4>
    <p> </p>
    <p class="P">Сторінки:</p>
    <p class="P"><a href="author/" class="A">Сторінка автора</a><a href="book/" class="A">Сторінка книги</a></p>

    <img src="https://w.forfun.com/fetch/3e/3ecd99335e6f6042101a58777dd6c6a5.jpeg?h=900&r=0.5" alt="">
    <img src="https://w.forfun.com/fetch/5d/5d18b4a9adb3d7a1f1bee858076b081f.jpeg?h=900&r=0.5" alt="">
    <img src="https://w.forfun.com/fetch/e5/e549e22e9eca7dcc9d983070e9f6e66d.jpeg?h=900&r=0.5" alt="">
    <img src="https://w.forfun.com/fetch/c4/c493aac67877288476b0fc52d55f55cf.jpeg?h=900&r=0.5" alt="">
</body>
</html>